body{
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow Semi Condensed' ;
    font-size: 13px;
    width: 1440px;
    background-color: hsl(210, 46%, 95%);
}

.container{
    display: inline-flex;
    margin-left: 10%;
    margin-top: 40px;
    width: 9300px;   
}

.daniel{
    background-color: hsl(263, 55%, 52%);
    padding: 30px;
    padding-bottom: 10px;
    max-width: 480px;
    height: 255px;
    border-radius: 10px;
    margin-right: 30px;
}

#img-daniel{
    border-radius: 100%;
}


.box-daniel{
    position: absolute;
    top: 60px;
    left: 220px;
}


.daniel strong{
   letter-spacing: 0.5px;
   color: hsla(210, 46%, 95%);
}


.daniel span{
    color: hsla(210, 46%, 95%, 50%);
}

.daniel h2{
    letter-spacing: 0.3px;
    color: hsla(210, 46%, 95%);
}

.daniel p{
    font-weight: 500;
    color: hsla(210, 46%, 95%, 70%);
    line-height: 1.4; 
}

.jonathan{
    background-color: hsl(217, 19%, 35%);
    padding: 30px;
    padding-bottom: 10px;
    max-width: 190px;
    margin-right: 30px;
    height: 255px;
    border-radius: 10px;
}

#img-jonathan{
    border-radius: 100%;
}


.box-jonathan{
    width: 100px;
    position: absolute;
    top: 60px;
    left:790px;
}


.jonathan strong{
   letter-spacing: 0.5px;
   color: hsla(210, 46%, 95%);
}


.jonathan span{
    color: hsla(210, 46%, 95%, 50%);
}

.jonathan h2{
    letter-spacing: 0.3px;
    color: hsla(210, 46%, 95%);
}

.jonathan p{
    font-weight: 500;
    color: hsla(210, 46%, 95%, 70%);
    line-height: 1.4; 
}

.jeanette{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    padding-bottom: 10px;
    width: 190px;
    height: 255px;
    border-radius: 10px;
    position: absolute;
        transform: translate(0px, 320px);
}

#img-jeanette{
    border-radius: 100%;
}


.box-jeanette{
    width: 100px;
    position: absolute;
    top: 20px;
    left:75px;
}


.jeanette strong{
   letter-spacing: 0.5px;
   color: hsla(210, 46%, 95%);
}


.jeanette span{
    color: hsla(210, 46%, 95%, 50%);
}

.jeanette h2{
    letter-spacing: 0.3px;
    color: hsla(210, 46%, 95%);
}

.jeanette p{
    font-weight: 500;
    color: hsla(210, 46%, 95%, 70%);
    line-height: 1.4; 
}

.patrick{
    background-color: hsl(219, 29%, 14%);
    padding: 30px;
    padding-bottom: 10px;
    max-width: 480px;
    height: 255px;
    border-radius: 10px;
    position: absolute;
        transform: translate(280px, 320px);
}

#img-patrick{
    border-radius: 100%;
}


.box-patrick{
    width: 100px;
    position: absolute;
    top: 20px;
    left:78px;
}


.patrick strong{
   letter-spacing: 0.5px;
   color: hsla(210, 46%, 95%);
}


.patrick span{
    color: hsla(210, 46%, 95%, 50%);
}

.patrick h2{
    letter-spacing: 0.3px;
    color: hsla(210, 46%, 95%);
}

.patrick p{
    font-weight: 500;
    color: hsla(210, 46%, 95%, 70%);
    line-height: 1.4; 
}

.kira{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    padding-bottom: 10px;
    max-width: 195px;
    margin-right: 30px;
    border-radius: 10px;
}

#img-kira{
    border-radius: 100%;
}


.box-kira{
    width: 100px;
    position: absolute;
    top: 60px;
    left:1070px;
}


.kira strong{
   letter-spacing: 0.5px;
   color: hsla(210, 46%, 95%);
}


.kira span{
    color: hsla(210, 46%, 95%, 50%);
}

.kira h2{
    letter-spacing: 0.3px;
    color: hsla(210, 46%, 95%);
}

.kira p{
    font-weight: 500;
    color: hsla(210, 46%, 95%, 70%);
    line-height: 1.55; 
}

/*--------------------------------------------------*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }