body{
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow Semi Condensed' ;
    font-size: 13px;
    width: 1440px;
    background-color: hsl(210, 46%, 95%);
}

.container{
    display: inline-flex;
    margin-left: 10%;
    width: 890px;
    
}

.daniel{
    background-color: hsl(263, 55%, 52%);
    color: hsl(210, 46%, 95%);
    padding: 20px;
    padding-top: 10px;
    min-width: 470px;
    height: 255px;
    border-radius: 10px;
    margin-right: 30px;
}


.daniel span{
    color: hsla(210, 46%, 95%, 50%);
    
}

.daniel h2{
    letter-spacing: 0.3px;
}

.daniel p{
    font-weight: 500;
    color: hsla(210, 46%, 95%, 70%);
    line-height: 1.4;   
}

.jonathan{
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
    padding: 20px;
    padding-top: 10px;
    min-width: 190px;
    height: 255px;
    border-radius: 10px;
}

.jonathan span{
    color: hsla(210, 46%, 95%, 50%);
}

.jonathan h2{
    letter-spacing: 0.3px;
}

.jonathan p{
    font-weight: 500;
    color: hsla(210, 46%, 95%, 70%);
    line-height: 1.4;   
}

.jeanette{
    background-color: hsl(0, 0%, 100%);
    color: hsl(210, 46%, 95%);
    padding: 20px;
    padding-top: 10px;
    width: 190px;
    height: 255px;
    border-radius: 10px;
    position: absolute;
        transform: translate(0px, 320px);
}

.jeanette span{
    color: hsla(210, 46%, 95%, 50%);
}

.jeanette h2{
    letter-spacing: 0.3px;
}

.jeanette p{
    font-weight: 500;
    color: hsla(210, 46%, 95%, 70%);
    line-height: 1.4;
}

.patrick{
    background-color: hsl(219, 29%, 14%);
    padding: 20px;

}

.jeanette span{
    color: hsla(210, 46%, 95%, 50%);
}

.jeanette h2{
    letter-spacing: 0.3px;
}

.jeanette p{
    font-weight: 500;
    color: hsla(210, 46%, 95%, 70%);
    line-height: 1.4;
}

.kira{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
}

/*--------------------------------------------------*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }